#game_data.dateline(data-game-id="#{game.id}")
	.row
		if (showUser && showUser.facebook_id)
			.col-xs-3
				.showUser
					img(src=showUser.picture)
					.name #{showUser.firstname} #{showUser.surname}
		.col-xs-9
			.row
				.col-xs-10
					.venue #{game.venue_name}
					.datetime= game.utime
			.row
				.col-xs-10
					.dropdown#calendar
						button.btn.dropdown-toggle(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
							i.fa.fa-calendar
						ul.dropdown-menu(aria-labelledby="calendar")
							each g in games
								li
									a(href="/game/#{g.id}")
										= g.headline
										|  (#{g.utime})
					.teams= game.headline
			.row
				.col-xs-5
					.alert.alert-info Skuif die rugbybal om 'n speler te bepunt.
					//- if (!showUser)
					//- 	a.btn.btn-warning.pull-right(href="/share/#{game.id}")
					//- 		i.fa.fa-share
