#game_data.dateline(data-game-id="#{game.id}")
	.row
		- var colWidth = 12
		if (showUser && showUser.facebook_id)
			- colWidth = 9
			.col-xs-3
				.showUser
					img(src=showUser.picture)
					.name #{showUser.firstname} #{showUser.surname}
		div(id="col-xs-#{colWidth}")
			.row
				.col-xs-12
					.venue= game.venue_name
					.datetime= game.utime
			.row
				.col-xs-12
					.dropdown#calendar
						button.btn.dropdown-toggle(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
							i.fa.fa-calendar
						ul.dropdown-menu(aria-labelledby="calendar")
							each g in games
								li
									a(href="/game/#{g.id}")
										= g.headline
										|  (#{g.utime})
					.teams= game.headline
			if game.live
				.row.scores
					.col-xs-12
						each country in countries
							.country
								img(src="/uploads/#{country.picture}")
								.score= country.score