extends layout

block content
	.container
		#game_data.dateline(data-game-id="#{game.id}")
			.venue #{game.venue_name}, #{game.city}
			.datetime= game.utime
			.teams #{countries[0].name} vs #{countries[1].name}
		.row.players
			each player in players
				.col-xs-12.col-md-6
					.player
						.player-identity
							img(src="/uploads/#{player.photo}")
							.name #{player.firstname} #{player.surname}
						table.ratings
							tr.user_rating
								td.rating-description
									.numberpicker1
										.slider.slider-icon(id="slider_#{player.id}",data-id="#{player.id}",data-val="#{player.user_rating}")
											i.fa.fa-arrows-h
										.slider-background-container
											.slider-background
								td.rating(id="user_rating_#{player.id}")= player.user_rating
							tr.avg_rating
								td.rating-description
									i.fa.fa-users
								td.rating(id="avg_rating_#{player.id}")= player.avg_rating
							tr.rapport_rating
								td.rating-description
									img.rapport(src="/images/rapport.png")
								td.rating= player.rating
						
						br(style="clear:both")
		//- a.btn.btn-facebook(href="/oauth/auth/facebook") Login with Facebook