.col-xs-12.col-md-6
	.player(id="player_"+player.id)
		.row
			.col-xs-12
				table.ratings.long_rating
					tr.user_rating
						td.rating-description
							.numberpicker1
								.slider.slider-icon(id="slider_#{player.id}",data-id="#{player.id}",data-val="#{player.user_rating}")
									//- i.fa.fa-arrows-h
								.slider-background-container
									.slider-background-vert.slider-background-vert-first
									.slider-background-vert
									.slider-background-vert
									.slider-background-vert
									.slider-background-vert
									.slider-background-vert
									.slider-background-vert
									.slider-background-vert
									.slider-background-vert
									.slider-background-vert
									.slider-background
						td.rating(id="user_rating_#{player.id}")
							if (player.user_rating)
								= player.user_rating
							else
								| ?
		.player-identity
			img(src="/uploads/#{player.photo}")
			if player.common_name
				.name= player.common_name
			else
				.name #{player.firstname} #{player.surname}
		table.ratings
			tr.avg_rating
				td.rating-description
					each vote in player.votes
						.profilePic(data-user-id=vote.user_id style="background-image: url(#{vote.picture})")
							=vote.rating
				td.rating(id="avg_rating_#{player.id}")
					if (player.avg_rating)
						= player.avg_rating
					else
						| ?
			tr.rapport_rating
				td.rating-description
					img.rapport(src="/images/rapport.png")
				td.rating
					if (player.rapport_rating)
						= player.rapport_rating
					else
						| ?
		br(style="clear:both")