.col-xs-12.col-md-6
	.player(id="player_"+player.id)
		.player-identity
			img(src="/uploads/#{player.photo}")
			.name #{player.firstname} #{player.surname}
		table.ratings
			tr.user_rating
				td.rating-description
					.numberpicker1
						.slider.slider-icon(id="slider_#{player.id}",data-id="#{player.id}",data-val="#{player.user_rating}")
							//- i.fa.fa-arrows-h
						.slider-background-container
							.slider-background-vert.slider-background-vert-first
							.slider-background-vert
							.slider-background-vert
							.slider-background-vert
							.slider-background-vert
							.slider-background-vert
							.slider-background-vert
							.slider-background-vert
							.slider-background-vert
							.slider-background-vert
							.slider-background
				td.rating(id="user_rating_#{player.id}")= player.user_rating
			tr.avg_rating
				td.rating-description
					each vote in player.votes
						.profilePic(data-user-id=vote.user_id style="background-image: url(#{vote.picture})")
							=vote.rating
				td.rating(id="avg_rating_#{player.id}")= player.avg_rating
			tr.rapport_rating
				td.rating-description
					img.rapport(src="/images/rapport.png")
				td.rating= player.rating
		br(style="clear:both")